# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
node_modules
.env
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
~/claude_desktop_config.json
BOT_PROTECTION_SUMMARY.md
MIGRATION_GUIDE.md
public/pictus_colors.jpeg
NOTIFICATION_TEMPLATES.md
RENEWALS.md
ORGANIZATIONS.md
ADMIN_EDIT_USER_ORG_FIX.md
ADMIN_USERS_ORG_NAME_FIX.md
DROP_ORGANIZATION_COLUMN.md
FRONTEND_FIXES.md
MIGRATION_COMPLETED.md
MIGRATION_SUMMARY.md
NOTIFICATION_BUILDER_FIX.md
NOTIFICATION_DELETED_VIEW.md
NOTIFICATION_EDIT_DELETE.md
NOTIFICATION_FILTERS_SORT.md
NOTIFICATION_VALIDATION_WARNINGS.md
PICTUSACI_ORGANIZATION_ACCESS.md
PLAN_orgs.md
TEMPLATES_TYPES_FIX.md
VEHICLENOTIFICATION_MIGRATION.md
LEGACY_COLUMNS_MIGRATION_COMPLETED.md
PLAN_Renewals.md
IDEAS.md
FleetSync_Marketing_Presentation.md
new_tiers_plan.md
stripe_prep.md
mds/TIER_MIGRATION_COMPLETED.md
new_updates.md
fleetsync_page.md
mds/daily_reminder.md
fleet_stripe.md
mds/benefit_plan.md
mds/gdpr_fleetsync.md
benefit_docs.md
mds/verify_2FA.md
mds/invoice.md
